TOKEN_GITHUB=< TOKEN GITHUB FOR HAKTIVGIT>
MONGO_DB_KEY=< MONGO DB KEY/PASSWORD> <= USING MONGODB ATLAS
MONGO_DB_NAME=< MONGO DB USERNAME > <= USING MONGODB ATLAS
SECRET_KEY=< SECRET KEY OF TOKEN JWT>